import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

on boot
    start health-hal-2-0
